---

#########################################################
## Pre-installation                                    ##
#########################################################

# Check if cockpit service is running
- name: Check if Cockpit service is running
  ansible.builtin.systemd:
    name: cockpit.socket
  register: cockpit_service_status
  changed_when: false
  failed_when: false
  ignore_errors: true

# Run uninstall if service is running
- name: Run uninstall playbook if Cockpit service is running
  ansible.builtin.include_tasks: uninstall.yml
  when: cockpit_service_status.status == 'running'

#########################################################
## Installation                                        ##
#########################################################

# Install cockpit packages
- name: Install Cockpit packages
  ansible.builtin.package:
    name:
      - cockpit
    state: present

# Check if Podman is installed
- name: Check if Podman is installed
  ansible.builtin.command: podman --version
  register: podman_version_output
  ignore_errors: true

# Install Cockpit Podman packages
- name: Install Cockpit Podman packages
  ansible.builtin.package:
    name:
      - cockpit-podman
    state: present
  when: podman_version_output

# Install Cockpit KVM packages
- name: Install Cockpit KVM packages
  ansible.builtin.package:
    name:
      - cockpit-machines
    state: present
  when: ansible_virtualization_role != 'guest'

# Enable Cockpit service
- name: Enable Cockpit service
  ansible.builtin.systemd:
    name: cockpit.socket
    state: started
    enabled: true

# Enable Cockpit firewall
- name: Allow Cockpit through firewall
  ansible.posix.firewalld:
    service: cockpit
    permanent: true
    state: enabled
    immediate: true

#########################################################
## Configuration                                       ##
#########################################################

# Configure Cockpit
- name: Configure
  ansible.builtin.include_tasks: configure.yml

#########################################################
## Post-install                                        ##
#########################################################
